*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 
}

.container{
    display: flex;
    border: 3px solid color-mix(in srgb, maroon 70%, blue 50%);
    background-color:  color-mix(in srgb, blue 50%, pink 90%);
    padding: 20px;
    flex-direction: column;
    
}

.btnDelete,
.btnAdd,
.btnClear{
    font-size: 1.2rem;
    border: transparent;
    background-color: color-mix(in srgb, maroon 70%, blue 50%);
    color: white;
    padding: .9rem .9rem;
    border-radius: 1.5rem;
}

.btnDelete:hover{
    transform: scale(120%); 
    cursor: pointer;
}
.btnAdd:hover{
    transform: scale(120%); 
    cursor: pointer;
}
.btnClear:hover{
    transform: scale(120%); 
    cursor: pointer;
}


.lista{
    display: flex;
    padding: 10px;
    gap: 1rem;
 
}

.input{
    border: 1px solid transparent;
    padding: 1rem;
    color: rgb(57, 57, 57);
    border-radius: 1.5rem;
    font-weight: bold;
     
}

.input:focus{
    outline: transparent;
    outline-offset: 2px;
    transition: outline-offset .2s ease;
    
}

.input:hover{
  cursor: pointer;
}
    








     












