*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(to top left,purple 30%, white 150%);
 
}

.container{

    display: flex;
    width: 60rem;
    border: 5px solid color-mix(in srgb, maroon 100%, blue 50%);
    background-color:  color-mix(in srgb, blue 50%, pink 90%);
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 5px 10px -1px rgb(42, 22, 47);


    
}

h1{

    margin: 20px;
    font-size: 4em;
    font-weight: lighter;
    color: white;

}

.btnClear,
.btnAdd,
.btnDeleteAdd{
    font-size: 1.4rem;
    border: transparent;
    background-color: color-mix(in srgb, maroon 100%, blue 50%);
    outline:2px solid #ccc;
    color: white;
    padding:  0 2rem;
    border-radius: 1.5rem;
    


}

.btnDelete:hover{
    transform: scale(120%); 
    cursor: pointer;
}
.btnAdd:hover{
    transform: scale(120%); 
    cursor: pointer;
}

.btnDeleteAdd:hover{
    transform: scale(120%); 
    cursor: pointer;
}



.lista{
    display: flex;
    padding: 10px 0 20px;
    gap: 1.3rem;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 5em;
    border-bottom: 1.5px solid #ccc;
    
  
}

.listaAdd{
    
    display: flex;
    justify-content: center;
    padding: 2em;
    gap: 2em;
    
}

.input{
    border: 1px solid transparent;
    padding: 2rem 4rem;
    color: rgb(57, 57, 57);
    border-radius: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.inputAdd{
    border: 1px solid transparent;
    padding: 1rem 2rem;
    color: rgb(57, 57, 57);
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 8px;

}

.inputAdd:focus{
    outline: transparent;
    outline-offset: 2px;
    transition: outline-offset .2s ease;
    
}

.inputAdd:hover{
    cursor: pointer;
}



.input:focus{
    outline: transparent;
    outline-offset: 2px;
    transition: outline-offset .2s ease;
    
}

.input:hover{
  cursor: pointer;
}

